.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submit{
    margin: auto;
    margin-bottom: 20px;
    width: 50%;
    position: relative;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: hsl(19, 98%, 50%);
}
.glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  }

.form{
    display: block;
    margin-top: 10px;
    width: 50%;
}
.dropdown{
    width: 80%;
}
.checkbox-header{
    margin-bottom: 10px;
}
.text-area{
    height: 200px;
}